<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,user-scalable=no">
	<meta name="robots" content="noindex,nofollow,noarchive,noimageindex">
	<link rel="icon" type="image/png" href="/static/img/logo-small.png">
	<link rel="stylesheet" href="/static/css/base.css">
	<title>Denunciar: {{ title }}</title>
	<script type="text/javascript">
		window.onload = () => {
			window.alert('Sua denúncia foi enviada com sucesso!');
			document.location.replace('/view/{{ id }}');
		};
	</script>
</head>

<body></body>

</html>
